{% load static compress %} {% compress css file %}
<link rel="stylesheet" href="{% static 'list.css' %}" />
{% endcompress %} {% compress js file %}
<script src="{% static 'destroyPost.js' %}"></script>
{% endcompress %} {% if posts %}
<ul>
	{% for post in posts %}
	<li id="post-{{ post.id }}">
		<h3>{{ post.title }}</h3>
		<p>{{ post.content }}</p>
		<div>
			<button
				onclick="destroyPost({{ post.id }}, '{% url 'api post destroy' post.id %}', '{{ csrf_token }}')"
				class="btn-destroy"
			>
				Delete
			</button>
		</div>
	</li>
	{% endfor %}
</ul>
{% else %}
<p>No posts</p>
{% endif %}
